extends layout

block head
  link(rel='stylesheet', href='/css/bootstrap.min.css')
  script(src='/js/jquery-2.1.4.min.js')
  script(src='/js/bootstrap.min.js')

block content
  p hello #{name} !
  button(type="button" class="btn btn-success" id="show-metrics") Bring the metrics
  #metrics

  script
    :coffee-script
      $('#show-metrics').click (e) ->
        e.preventDefault()
        $.getJSON "/metrics.json", {}, (data) ->
          content = ""
          for d in data
            content += "timestamp: #{d.timestamp}, value: #{d.value}"
          $('#metrics').append content
